.container1{
	height: 80px;
	background-color: rebeccapurple;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.logo{
	height: 80px;
	width: 180px;
	border-radius: 20px;
}
.textbox{
	margin: 30px  0 0 60px;
}
.name{
	float: left;
	padding: 30px;
}
.cart{
	float: right;
	border-radius: 20px;
}
.container2{
	 padding-left: 15px;
	background-color: #E40B8B;
	height: 40px;
	width: 100%;
}
.menu a{
	padding:10px 15px 0 15px;
		
}
.heading1{
	padding: 30px;
	text-align: center;
	background-color:rebeccapurple;
}
.mobile{
	float: left;
	width: 100%;
	height: 200px;
	padding: 20px;
}
.tv{
	float: left;
	width: 100%;
	height: 200px;
	padding: 20px;
}
.laptops{
	float: left;
	width: 100%;
	height: 200px;
	padding: 20px;
}
.fridge{
	float: right;
	width: 100%;
	height: 200px;
	padding: 20px;
}
.heading2{
	padding: 30px;
	text-align: left;
	background-color: #E40B8B;
}
.iphone{
	float: left;
	width: 100%;
	height: 200px;
	padding: 20px;
}
.oneplus{
	float: left;
	width: 100%;
	height: 200px;
	padding: 20px;
}
.redmi{
	float: left;
	width: 100%;
	height: 200px;
	padding: 20px;
}
.samsung{
	float: right;
	width: 100%;
	height: 200px;
	padding: 20px;
}
.heading3{
	padding: 30px;
	text-align: left;
	background-color:rebeccapurple;
}
.oneplustv{
	float: left;
	width: 100%;
	height: 200px;
	padding: 20px;
}
.redmitv{
	float: left;
	width: 100%;
	height: 200px;
	padding: 20px;
}
.samsungtv{
	float: left;
	width: 100%;
	height: 200px; 
	padding: 20px;
}
.realmetv{
	float: left;
	width: 100%;
	height: 200px;
	padding: 20px;
}

.heading4{
	padding: 30px;
	text-align: left;
	background-color: #E40B8B;
}
.applelap{
	float: left;
	width: 100%;
	height: 200px;
	padding: 20px;
}
.delllap{
	float: left;
	width: 100%;
	height: 200px;
	padding: 20px;
}
.lenovolap{
	float: left;
	width: 100%;
	height: 200px;
	padding: 20px;
}
.asuslap{
	float: left;
	width: 100%;
	height: 200px;
	padding: 20px;
}
.heading5{
	padding: 30px;
	text-align: left;
	background-color:rebeccapurple;
}
.samsungfridge{
	float: left;
	width: 100%;
	height: 250px;
	padding: 20px;
}
.lgfridge{
	float: left;
	width: 100%;
	height: 250px;
	padding: 20px;
}
.godrejfridge{
	float: left;
	width: 100%;
	height: 250px;
	padding: 20px;
}
.harierfridge{
	float: right;
	width: 100%;
	height: 250px;
	padding: 20px;
}
.footer{
	margin-top: 40px;
	height: 380px;
	width: 100%;
	background-color:rebeccapurple ;
	color: white;
}
.cognifo{
	height: 130PX;
	width: 130px;
	margin-left: 45px;
	border-radius: 20px;
}
.footer2{
	width: 100%;
	height: 80px;
	color: white;
	text-align: center;
	background-color:  #E40B8B;
	padding-top: 10px;
}